@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 5px solid red ; */
}

body {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/tortillas.jpg);
    overflow: hidden;
}

nav {
    display: flex;
    gap: 100px;
    
}

button {
    width: 100px;
    height: 50px;
    background-color: none;
    border: none;
    border-radius: 20px;
    font-family: "Sigmar One", serif;
    
}

button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 191, 0);
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 5px 10px -5px;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: antiquewhite;
    margin: 20px;
    padding: 50px;
    overflow-y: scroll; 
    box-shadow: 0 0 20px 5px;
}


#content > div:first-of-type {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Sigmar One", serif;
    background-color: wheat;
    padding: 20px;
    border: 10px solid rgb(255, 191, 0);
}

footer {
    text-align: center;
    background-color: rgb(255, 191, 0);
    width: 100%;
}

img {
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.active-tab {
  
  box-shadow: inset 0 0 5px;
  pointer-events: none;
  
}

.image-container {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;

}

.caption {
    font-style: italic;
    font-weight: 400;
}

.sub-heading {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Sigmar One", serif;
}
ul {
    list-style: none;
}